DirectoryIndex login.php

<filesMatch ".(jpg|jpeg|png)$">
    Header set Cache-Control "max-age=12592000, public"
</filesMatch>

# BEGIN HTTPS Redirection
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
# END HTTPS Redirection